<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<html lang="en">


<h1>
  Welcome,
  <%= user.id %>
</h1>

<% if (!user.id)  {%>
<a href="/register">Register</a>
<a href="/login">Login</a>

<% } else { %>

<form method="POST" action="/logout">
  <button type="submit">Logout</button>
</form>
<% } %>
