<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<html lang="en">

<body>
    <header id="header">
    <%= username %>
      <form method ="POST" action="/login">

        <label for="username"><b>Username</b></label>
        <input name="username" type="text" >

        <!-- <label for="psw"><b>Password</b></label>
        <input name="psw" type="password" > -->

      <button type="submit">Login</button>
    </form>
  </header>
