<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<html lang="en">

<font size='4'>tiny<font size='8'>APP </font></b></font>

<% if (!user.id)  {%>
<a href="/register">Register</a>
<a href="/login">Login</a>

<% } else { %>

<h1>
  Welcome, <%= user.id %> <form method="POST" action="/logout"> <button type="submit">Logout</button></form>
</h1>
<% } %>
