<!-- views/partials/_header.ejs -->
<!DOCTYPE html>
<html lang="en">

<h1>
  Welcome, <%= username %>
</h1>
  <form method="POST" action="/logout" >
    <button type="submit">Logout</button>
  </form>
