<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <h1> URLS </h1>
    <ul>
    <% for(let key in urls) { %>
    <li>
    <%= key %> :  <%= urls[key] %> : href ="#" <br>
    </li>
    <% } %>
    </ul>
</body>

</html>



