<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
<font size='8'>Welcome to </font><b><font size='4'>tiny<font size='8'>APP </font></b></font>
  </header>

  <h3>
    Please register below with email and password.
  </h3>


  <form method="POST" action="/register">
    <label for="email"><b>Email</b></label>
    <input name="email" type="email" placeholder="Email">
    <label for="password"><b>Password</b></label>
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

</body>

</html>