<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    Please enter credentials!
  </header>

<form method="POST" action="/register">
  <label for="username"><b>Username</b></label>
  <input name="username" type="email" placeholder="Username">
  <label for="password"><b>Password</b></label>
  <input name="password" type="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<form method="POST" action=
</body>

</html>