<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <%- include partials/_header %>
  </header>

  <h2>
    Edit your URL
  </h2>

  <p>
    Your current URL : <%= longURL.longURL %>
  </p>
  <form method="POST" action="/urls/<%= shortURL %>">
    <p>
      <label for="longURL">Your new URL</label>:
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width:300px" />
    </p>
    <p>
      <button type="submit">Update My URL!</button>
    </p>
  </form>
</body>

</html>