<!DOCTYPE html>
<html lang="en">

<header>
  <%- include partials/_header %>
</header>

<h2>
  Please add a long URL below that you would like to shorten.
</h2>
<p>
  <form action="/urls" method="POST">
    <label for="longURL"></label>
    <input id="longURL" type="text" name="longURL" placeholder="http://"/>
    <input type="submit" value="Submit" />
  </form>
</p>

</body>

</html>