<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

  <header>
  <%- include partials/_header %>
  </header>

  <h1><center> URLS </center></h1>

  <h1>
  </h1>
<h3>
</h3>
</h3>
    <ul>
      <% for(let key in urls) { %>
      <li>
      <%= [key] %> : <a href="/urls/<%= [key] %>"><%= urls[key] %></a>
      <button><form method="POST" action="/urls/delete">Delete</form></button>
      <% } %>
      <br>
      </li>
    </ul>
</body>


</html>
