<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
  </header>

<form method="POST" action="/login">
  <label for="userID"><b>Username</b></label>
  <input name="userID" type="username" placeholder="Username">
  <label for="password"><b>Password</b></label>
  <input name="password" type="password" placeholder="Password">
  <button type="submit">Login</button>
</form>


</body>

</html>